<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="{{asset('assets/image/logo.jpg')}}">
		{# feuilles de styles #}
		<link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}">
		<link
		rel="stylesheet" href="{{asset('assets/css/style.css')}}">
		{# feuilles de style pour les fonts #}
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> {% block stylesheets %}{% endblock %}
		{# script js #}
		<script src='{{asset('assets/js/script.js')}}' defer></script>
		<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous" defer></script>
		{% block javascripts %}{% endblock %}
	</head>
	<body>
		<header>
			{% include '_partials/_navBar.html.twig' %}
		</header>
		<main
			id="main">
			{# si l'utilisateur n'a pas valider son compte #}
			{% if app.user and app.user.isVerified==false %}
				{% include '_partials/_comptNonActiver.html.twig' %}
			{% endif %}
			{# Les notifications #}
			{% include '_partials/_flash.html.twig' %}
			{# Le contenu de la page #}
			{% block body %}{% endblock %}
			{# Le footer #}
			<footer>
				{% include '_partials/_footer.html.twig' %}
			</footer>
		</main>
	</body>
	<script src="{{asset('assets/js/bootstrap.bundle.js')}}" crossorigin="anonymous"></script>
</html>
